<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Domains</title>
    <th:block th:replace="~{fragments :: core-styles}"></th:block>
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <div th:replace="~{fragments :: sidebar('domains')}"></div>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <div th:replace="~{fragments :: navbar('Edit Domain')}"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <p class="mb-4" th:text="${domain.name}"></p>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Update</h6>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/domains/update}" th:object="${domain}" method="post">
                            <div class="form-group">
                                <label for="domainName">Name</label>
                                <input type="text" class="form-control" id="domainName" th:field="*{name}" required>
                            </div>
                            <div class="form-group">
                                <label for="domainDescription">Description</label>
                                <input type="text" class="form-control" id="domainDescription" th:field="*{description}" required>
                            </div>
                            <div class="form-group">
                                <label for="wosCategories">WOS Categories</label>
                                <div id="wosCategoriesContainer">
                                    <div class="input-group mb-2" th:each="category, iterStat : *{wosCategories}">
                                        <select class="form-control" th:field="*{wosCategories[__${iterStat.index}__]}" th:selected="${category}">
<!--                                            <div th:each="category, iterStat : ${allWosCategories}">-->
<!--                                                <option  th:value="${category}">-->
<!--                                            </div>-->
                                            ${allWosCategories.map(category => `<option th:value="${category}" th:text="${category}"></option>`)}
                                        </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-danger remove-category" type="button">Remove</button>
                                        </div>
                                    </div>
                                </div>
                                <button id="addCategory" class="btn btn-primary" type="button">Add Category</button>
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div th:replace="~{fragments :: app-footer}"></div>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa-solid fa-angle-up"></i>
    </a>
</div>

<!-- Bootstrap core JavaScript-->
<th:block th:replace="~{fragments :: core-scripts}"></th:block>

<!-- Page level plugins -->


<script th:inline="javascript">
    $(document).ready(function() {
        // Ensure Thymeleaf processes this part correctly
        var allWosCategories = /*[[${allWosCategories}]]*/ [];
        let wosCategoriesContainer = $('#wosCategoriesContainer');

        $('#addCategory').click(function() {
            let index = wosCategoriesContainer.children().length;
            let categoryTemplate = `
                <div class="input-group mb-2">
                    <select class="form-control" name="wosCategories[${index}]">
                        ${allWosCategories.map(category => `<option value="${category}">${category}</option>`).join('')}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-danger remove-category" type="button">Remove</button>
                    </div>
                </div>`;
            wosCategoriesContainer.append(categoryTemplate);
        });

        wosCategoriesContainer.on('click', '.remove-category', function() {
            $(this).closest('.input-group').remove();
            // Optionally, update the indices of the remaining elements
            wosCategoriesContainer.children().each(function(index, element) {
                $(element).find('select').attr('name', `wosCategories[${index}]`);
            });
        });
    });
</script>
</body>
</html>
