<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Institution</title>
    <th:block th:replace="~{fragments :: core-styles}"></th:block>
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <div th:replace="~{fragments :: sidebar('institutions')}"></div>
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div th:replace="~{fragments :: navbar}"></div>
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-2 text-gray-800">Edit Institution</h1>
                </div>
                <p class="mb-4">Edit the details of the institution.</p>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Edit Institution</h6>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/institutions/update}" th:object="${institution}" method="post">
                            <div class="form-group">
                                <label for="institutionName">Name</label>
                                <input type="text" class="form-control" id="institutionName" th:field="*{name}" required>
                            </div>
                            <div class="form-group">
                                <label for="institutionDescription">Description</label>
                                <textarea class="form-control" id="institutionDescription" th:field="*{description}" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="scopusAffiliations">Scopus Affiliations</label>
                                <div id="scopusAffiliationsContainer">
                                    <div class="input-group mb-2" th:each="affiliation, iterStat : *{scopusAffiliations}">
                                        <select class="form-control" th:field="*{scopusAffiliations[__${iterStat.index}__]}" th:selected="${affiliation}">
                                            <option th:value="${affiliation.afid}" th:text="${affiliation.name + ' (' + affiliation.afid + ')'}"></option>
                                        </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-danger remove-scopus-affiliation" type="button">Remove</button>
                                        </div>
                                    </div>
                                </div>
                                <button id="addScopusAffiliation" class="btn btn-primary" type="button">Add Scopus Affiliation</button>
                            </div>
                            <div class="form-group">
                                <label for="wosAffiliations">WoS Affiliations</label>
                                <div id="wosAffiliationsContainer">
                                    <div class="input-group mb-2" th:each="wosAff, iterStat : *{wosAffiliations}">
                                        <input type="text" class="form-control" th:field="*{wosAffiliations[__${iterStat.index}__]}" th:value="${wosAff}">
                                        <div class="input-group-append">
                                            <button class="btn btn-danger remove-wos-affiliation" type="button">Remove</button>
                                        </div>
                                    </div>
                                </div>
                                <button id="addWosAffiliation" class="btn btn-primary" type="button" disabled>Add WoS Affiliation</button>
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>

            <div th:replace="~{fragments :: app-footer}"></div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<th:block th:replace="~{fragments :: core-scripts}"></th:block>

<script src="/js/demo/datatables-demo.js"></script>

<script th:inline="javascript">
    $(document).ready(function() {
        let allAffiliations = /*[[${allAffiliations}]]*/ [];
        let scopusAffiliationsContainer = $('#scopusAffiliationsContainer');
        let wosAffiliationsContainer = $('#wosAffiliationsContainer');

        $('#addScopusAffiliation').click(function() {
            let index = scopusAffiliationsContainer.children().length;
            let scopusAffiliationTemplate = `
                <div class="input-group mb-2">
                    <select class="form-control" name="scopusAffiliations[${index}]">
                        ${allAffiliations.map(affiliation => `<option value="${affiliation.afid}">${affiliation.name + ' (' + affiliation.afid + ')'}</option>`).join('')}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-danger remove-scopus-affiliation" type="button">Remove</button>
                    </div>
                </div>`;
            scopusAffiliationsContainer.append(scopusAffiliationTemplate);
        });

        scopusAffiliationsContainer.on('click', '.remove-scopus-affiliation', function() {
            $(this).closest('.input-group').remove();
            // Optionally, update the indices of the remaining elements
            scopusAffiliationsContainer.children().each(function(index, element) {
                $(element).find('select').attr('name', `scopusAffiliations[${index}]`);
            });
        });

        $('#addWosAffiliation').click(function() {
            let index = wosAffiliationsContainer.children().length;
            let wosAffiliationTemplate = `
                <div class="input-group mb-2">
                    <input type="text" class="form-control" name="wosAffiliations[${index}]">
                    <div class="input-group-append">
                        <button class="btn btn-danger remove-wos-affiliation" type="button">Remove</button>
                    </div>
                </div>`;
            wosAffiliationsContainer.append(wosAffiliationTemplate);
        });

        wosAffiliationsContainer.on('click', '.remove-wos-affiliation', function() {
            $(this).closest('.input-group').remove();
            // Optionally, update the indices of the remaining elements
            wosAffiliationsContainer.children().each(function(index, element) {
                $(element).find('input').attr('name', `wosAffiliations[${index}]`);
            });
        });
    });
</script>
</body>
</html>
