<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Indicators</title>
    <th:block th:replace="~{fragments :: core-styles}"></th:block>
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        .custom-tooltip .tooltip-inner {
            max-width: 300px; /* Adjust the width as needed */
            width: 300px; /* Ensure the tooltip takes the full width */
        }
    </style>
</head>
<body id="page-top">

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <div th:replace="~{fragments :: admin-sidebar('indicators')}"></div>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <div th:replace="~{fragments :: navbar}"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-2 text-gray-800">Indicators</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#createCriterionModal">
                        <i class="fa-solid fa-plus fa-sm text-white-50"></i> Create New Indicator
                    </a>
                </div>
                <p class="mb-4">This is a list of all Indicators currently managed by the system.</p>

                <!-- DataTables Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Detailed View of Indicators</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered js-datatable" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Formula</th>
                                    <th>Scoring Strategy</th>
                                    <th>Domain</th>
                                    <th>Applies To</th>
                                    <th>Indicator Years</th>
                                    <th>Scoring Years</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="ind : ${indicators}">
                                    <td th:text="${ind.name}">Criterion Name</td>
                                    <td th:text="${ind.formula}"></td>
                                    <td th:text="${ind.scoringStrategy}"></td>

                                    <td>
                                        <span th:if="${ind.domain != null}" th:text="${ind.domain.name}"></span>
                                    </td>
                                    <td th:text="${ind.outputType}"></td>
                                    <td th:text="${ind.yearRange}"></td>
                                    <td th:text="${ind.scoreYearRange}"></td>

                                    <td>
                                        <a th:href="@{/admin/indicators/edit/{id}(id=${ind.id})}" class="btn btn-primary btn-sm">Edit</a>
                                        <form th:action="@{/admin/indicators/duplicate/{id}(id=${ind.id})}" method="post" style="display:inline;">
                                            <button type="submit" class="btn btn-warning btn-sm">Duplicate</button>
                                        </form>
                                        <form th:action="@{/admin/indicators/delete/{id}(id=${ind.id})}" method="post" style="display:inline;">
                                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div th:replace="~{fragments :: app-footer}"></div>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa-solid fa-angle-up"></i>
    </a>
</div>

<!-- Create Indicator Modal-->
<div class="modal fade" id="createCriterionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Criterion</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/indicators/create}" th:object="${indicator}" method="post">
                    <div class="form-group">
                        <label for="criterionName">Name</label>
                        <input type="text" class="form-control" id="criterionName" th:field="*{name}" required>
                    </div>
                    <div class="form-group">
                        <label for="domain">Domain</label>
                        <select class="form-control" id="domain" th:field="*{domain}" required>
                            <option th:each="d : ${domains}" th:value="${d.name}" th:text="${d.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="criterionFormula">Indicator Years</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="scoringYearRange" th:field="*{yearRange}" required>
                            <div class="input-group-append">
                                <button class="btn btn-info" type="button" data-toggle="tooltip" data-html="true" title="Any Year (*) or Exact years<ul><li>2017</li><li>2017->2019,2021->2023</li></ul>" data-placement="right" data-template='<div class="tooltip custom-tooltip" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'>
                                    ?
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="criterionOutputType">Applies To</label>
                        <select class="form-control" id="criterionOutputType" th:field="*{outputType}" required>
                            <option th:each="ctype : ${types}" th:value="${ctype}" th:text="${ctype}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="activity">Activity</label>
                        <select class="form-control" id="activity"
                                data-sync-selected-description-target="#activityDescription"
                                th:field="*{activity}">
                            <option th:value="${null}"
                                    th:attr="data-description='No Activity selected'">
                                None
                            </option>
                            <option
                                    th:each="act : ${activities}"
                                    th:value="${act.id}"
                                    th:text="${act.name}"
                                    th:attr="data-description=${activityDescriptions[act.id]}">
                            </option>
                        </select>
                        <small id="activityDescription" class="form-text text-muted mt-1"></small>
                    </div>
                    <div class="form-group">
                        <label for="scoringStrategy">Scoring Strategy</label>
                        <select class="form-control" id="scoringStrategy" th:field="*{scoringStrategy}" required>
                            <option th:each="strategy : ${scoringStrategies}" th:value="${strategy}" th:text="${strategy}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="criterionFormula">Scoring Years</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="yearRange" th:field="*{scoreYearRange}" required>
                            <div class="input-group-append">
                                <button class="btn btn-info" type="button" data-toggle="tooltip" data-html="true" title="Any Year (*) or Exact years<ul><li>2017</li><li>2017->2019,2021->2023</li></ul>Years related to item year (IY) <ul><li>IY</li>, <li>IY-1->IY+3,IY+5</li></ul>" data-placement="right" data-template='<div class="tooltip custom-tooltip" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'>
                                    ?
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="criterionFormula">Formula</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="criterionFormula" th:field="*{formula}" required>
                            <div class="input-group-append">
                                <button class="btn btn-info" type="button" data-toggle="tooltip" data-html="true" title="Variables returned by a Scoring Service <ul><li>N: number of authors</li><li>S: score for publication</li></ul>Can be used with:<ul><li>math symbols: +, -, *, /, max(x,y), min(x,y)</li><li>conditions: (a > b) ? (3 + a) : (4 + b)</li><li>(S > 1.0) ? (3 + 3 * S) : (3 + S)</li></ul>" data-placement="right" data-template='<div class="tooltip custom-tooltip" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'>
                                    ?
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selector">Final Selector</label>
                        <select class="form-control" id="selector" th:field="*{selector}" required>
                            <option th:each="selector : ${selectors}" th:value="${selector}" th:text="${selector}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript-->
<th:block th:replace="~{fragments :: core-scripts}"></th:block>

<!-- Page level plugins -->

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>
<script>
    $(document).ready(function() {
        // Function to handle activity field based on scoring strategy
        function handleActivityField() {
            const scoringStrategy = $('#criterionOutputType').val();
            const activityFormGroup = $('#activity').closest('.form-group');

            if (scoringStrategy && scoringStrategy.includes('ACTIVIT')) {
                activityFormGroup.show();
                $('#activity').prop('required', true);
            } else {
                activityFormGroup.hide();
                $('#activity').prop('required', false).val(''); // Reset the value to null
            }

        }

        // Initial check when page loads
        handleActivityField();

        // Listen for changes on scoring strategy dropdown
        $('#criterionOutputType').on('change', handleActivityField);

    });
</script>
</body>
</html>
