<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${institution.name} + ' Publications'">Institution Publications</title>
    <th:block th:replace="~{fragments :: core-styles}"></th:block>
</head>
<body id="page-top">

<div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="~{fragments :: sidebar('institutions')}"></div>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div th:replace="~{fragments :: navbar(${institution.name})}"></div>

            <div class="container-fluid app-page-content">
                <div class="app-page-toolbar">
                    <a th:href="@{/admin/institutions/{id}/publications/exportExcel(id=${institution.name})}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fa-solid fa-download fa-sm text-white-50"></i> Export Excel
                    </a>
                </div>
                <div class="app-dashboard">
                <div class="app-summary-panel">
                    <div class="app-summary-panel__header">
                        <h2 class="app-summary-panel__title">Institution Publications</h2>
                    </div>
                    <div class="app-summary-panel__body">
                    <p th:text="${institution.description}">Institution description here.</p>
                    <div>
                        <span class="font-weight-bold">Total Publications: </span>
                        <span th:text="${publications.size()}">0</span>
                    </div>
                </div>
                </div>

                <div class="app-table-section">
                    <div class="app-table-section__surface">
                    <div class="app-table-section__header app-table-toolbar">
                        <h6 class="app-table-section__title">Publications</h6>
                    </div>
                    <div class="app-table-section__body">
                        <div class="app-table-scroll">
                            <table class="table table-bordered js-datatable app-table" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Year</th>
                                    <th>Authors</th>
                                    <th>Type</th>
                                    <th>Venue</th>
                                    <th>Citations</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="publication : ${publications}">
                                    <td>
                                        <a th:href="@{/user/publications/citations(id=${publication.id})}" th:text="${publication.title}">Publication Title</a>
                                    </td>
                                    <td th:text="${publication.coverDate}">Year Published</td>
                                    <td>
                                        <div th:each="author, iterStat : ${publication.authors}">
                                            <a th:if="${authorMap[publication.authors[iterStat.index]] != null}" th:text="${authorMap[publication.authors[iterStat.index]].name} + (iterStat.last ? '; ' : '')" th:href="@{/user/authors/view/{id}(id=${author})}"></a>
                                            <span th:if="${authorMap[publication.authors[iterStat.index]] == null}" th:text="${author}"></span>
                                        </div>
                                    </td>
                                    <td th:text="${publication.subtypeDescription}">Type</td>
                                    <td>
                                        <p th:if="${forumMap[publication.forum] != null}" th:text="${forumMap[publication.forum].publicationName}"></p>
                                    </td>
                                    <td th:text="${publication.citedbyCount}">0</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>

            <div th:replace="~{fragments :: app-footer}"></div>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa-solid fa-angle-up"></i>
    </a>
</div>
<th:block th:replace="~{fragments :: core-scripts}"></th:block>

</body>
</html>
