<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Researchers</title>
    <th:block th:replace="~{fragments :: core-styles}"></th:block>
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <div th:replace="~{fragments :: admin-sidebar('researchers')}"></div>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <div th:replace="~{fragments :: navbar}"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Researchers</h1>
                <p class="mb-4">Overview of all researchers and their details.</p>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Researchers List</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered js-datatable" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Scholar ID</th>
                                    <th>Scopus ID</th>
                                    <th>WoS ID</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="researcher : ${researchers}">
                                    <td th:text="${researcher.name}"></td>
                                    <td th:text="${researcher.scholarId}"></td>
                                    <td>
                                        <span th:each="id: ${researcher.scopusId}" th:text="${id} "></span>
                                    </td>
                                    <td>
                                        <span th:each="id: ${researcher.wosId}" th:text="${id} "></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div th:replace="~{fragments :: app-footer}"></div>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa-solid fa-angle-up"></i>
    </a>
</div>

<!-- Bootstrap core JavaScript-->
<th:block th:replace="~{fragments :: core-scripts}"></th:block>

<!-- Page level plugins -->

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>

</body>
</html>
