<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Affiliation</title>
    <th:block th:replace="~{fragments :: core-styles}"></th:block>
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <div th:replace="~{fragments :: sidebar('scholardex-affiliations')}"></div>
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div th:replace="~{fragments :: navbar}"></div>
            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Edit Affiliation</h1>
                <p class="mb-4" th:text="${affiliation.name}"></p>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Update</h6>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/scholardex/affiliations/edit/{id}(id=${affiliation.afid})}" th:object="${affiliation}" method="post">
                            <p><span th:text="*{afid}"></span> </p>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" th:field="*{name}" required>
                            </div>
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" th:field="*{city}">
                            </div>
                            <div class="form-group">
                                <label for="country">Country</label>
                                <input type="text" class="form-control" id="country" th:field="*{country}">
                            </div>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>

            <div th:replace="~{fragments :: app-footer}"></div>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa-solid fa-angle-up"></i>
    </a>
</div>
<th:block th:replace="~{fragments :: core-scripts}"></th:block>


</body>
</html>
