<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Publications</title>
    <th:block th:replace="~{fragments :: core-styles}"></th:block>
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">

<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <div th:replace="~{fragments :: admin-sidebar('scholardex-publications')}"></div>
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div th:replace="~{fragments :: navbar}"></div>
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Search Publications</h1>
                </div>
                <form th:action="@{/admin/scholardex/publications/search}" method="get">
                    <div class="form-group">
<!--                        <label for="authorName">Author Name</label>-->
                        <input type="text" class="form-control" id="authorName" name="authorName" hidden="hidden">
                    </div>
                    <div class="form-group">
                        <label for="paperTitle">Paper Title</label>
                        <input type="text" class="form-control" id="paperTitle" name="paperTitle">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
        <div th:replace="~{fragments :: app-footer}"></div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa-solid fa-angle-up"></i>
    </a>
</div>
<th:block th:replace="~{fragments :: core-scripts}"></th:block>


</body>
</html>
