<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Author</title>
    <th:block th:replace="fragments :: core-styles"></th:block>
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <div th:replace="fragments :: admin-sidebar('authors')"></div>
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div th:replace="fragments :: navbar"></div>
            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Edit Author</h1>
                <p class="mb-4" th:text="${author.name}"></p>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Update</h6>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/scopus/authors/edit/{id}(id=${author.id})}" th:object="${author}" method="post">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" th:field="*{name}" required>
                            </div>
                            <div class="form-group">
                                <label for="id">Scopus ID</label>
                                <input type="text" class="form-control" id="id" th:field="*{id}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="id">Citations</label>
                                <input type="text" class="form-control" id="citationCount" th:value="${citationCount}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="affiliations">Affiliation</label>
                                <select multiple class="form-control" id="affiliations" th:field="*{affiliations}">
                                    <option th:each="aff : ${author.affiliations}" th:value="${aff}" th:text="${aff.name}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </form>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Publications</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <!--                                    <th>Year</th>-->
                                    <th># Authors</th>
                                    <th>Citations</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="publication : ${publications}">
                                    <td>
                                        <a th:href="@{/admin/scopus/publications/citations(id=${publication.id})}" th:text="${publication.title}">Publication Title</a>
                                    </td>
                                    <td>
<!--                                        <a th:each="author, iterStat : ${publication.authors}" th:text="${author.name} + (iterStat.last ? '; ' : '')" th:href="@{/admin/scopus/authors/edit/{id}(id=${author.id})}"></a>-->
                                        <span th:text="${publication.authorCount}"></span>
                                    </td>
                                    <td th:text="${publication.citedbyCount}">0</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; ScholarDex 2024</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</div>

<th:block th:replace="fragments :: core-scripts"></th:block>

<!-- Page level plugins -->

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>

</body>
</html>
