<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${indicator.name}">Criterion</title>
    <th:block th:replace="fragments :: core-styles"></th:block>
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <div th:replace="fragments :: user-sidebar('criteria')"></div>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <div th:replace="fragments :: navbar"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Criterion scores</h1>
<!--                    </button>-->
                </div>
<!--                <h1 class="h3 mb-2 text-gray-800"></h1>-->


                <!-- Trigger Scrape Button and display scrape result -->

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" th:text="${indicator.name}"></h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <p>
                                Total score: <span th:text="${total}">0</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Individual scores</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Venue</th>
                                    <th>Category</th>
                                    <th>Quarter</th>
                                    <th>Forum Score</th>
                                    <th>Author Score</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="pub : ${publications}">
<!--                                <tr th:each="entry : ${scores.entrySet()}">-->
                                    <td>
                                        <a th:text="${pub.title}" th:href="@{/user/publications/citations(eid=${pub.eid})}">Publication Title</a>
                                    </td>
                                    <td><span th:text="${pub.venue.publicationName}">Venue</span></td>
                                    <td th:text="${scores[pub.title]['category']}">0</td>
                                    <td th:text="${scores[pub.title]['quarter']}">0</td>
                                    <td th:text="${scores[pub.title]['score']}">0</td>
                                    <td th:text="${scores[pub.title]['Author Score']}">0</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; ScholarDex 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</div>

<!-- Bootstrap core JavaScript-->
<th:block th:replace="fragments :: core-scripts"></th:block>

<!-- Page level plugins -->

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>

<script>
</script>

</body>
</html>
