<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${indicator.name}">Indicator</title>
    <link href="/assets/app.css" rel="stylesheet" type="text/css">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <div th:replace="fragments :: user-sidebar('indicators')"></div>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <div th:replace="fragments :: navbar"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800" th:text="${indicator.name}">Indicator scores</h1>
                    <a th:href="@{/user/indicators/export/{id}(id=${indicator.id})}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-download fa-sm text-white-50"></i> Export Excel
                    </a>
                </div>

                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Total Score </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${total}"></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calculator fa-2x text-primary"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Total citations</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalCit}">0</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-link fa-2x text-success"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-6 col-md-6 mb-6">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Citation distribution
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters align-items-center">

                                    <div class="col mr-2">
                                        <div class="h5 text-gray-800">Details</div>
                                        <ul>

                                            <li th:text="${indicator.outputType}"></li>
                                            <li>
                                                <span>Domain: </span>
                                                <span th:text="${indicator.domain.name}"></span>
                                            <li>
                                                <span>Scoring Strategy: </span>
                                                <span th:text="${indicator.scoringStrategy}"></span>
                                            </li>
                                            <li>
                                                <span>Formula: </span>
                                                <span th:text="${indicator.formula}"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col mr-1">
                                        <div class="chart-pie">
                                            <canvas id="myPieChart" width="64" height="64" class="chartjs-render-monitor"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 col-md-12 mb-12">
                        <div class="row">
                            <p></p>
                            <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Citations</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" th:id="dataTableCitations" width="100%" cellspacing="0">
                                                <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Type</th>
                                                    <th>Forum Score</th>
                                                    <th># Authors</th>
                                                    <th>Author Score</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="publication : ${publications}" th:if="${scores[publication.title]['total'].getAuthorScore() > 0.0}">
                                                    <td>
                                                        <a th:text="${publication.title}" th:href="'#card'+${publication.eid}">Title</a>
                                                    </td>
                                                    <td th:text="${publication.subtypeDescription}"></td>
                                                    <td th:text="${scores[publication.title]['total'].getScore()}">Total Score</td>
                                                    <td th:text="${publication.authors.size()}">0</td>
                                                    <td th:text="${#numbers.formatDecimal(scores[publication.title]['total'].getAuthorScore(), 1, 2)}">Author Score</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                            </div>
                        </div>
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="row">-->
<!--                    <div class="col-xl-12 col-md-12 mb-12">-->
                    <!-- DataTales Example -->
                    <div th:each="publication : ${publications}">
                        <div class="row">
                                <div class="card shadow mb-4" th:if="${scores[publication.title]['total'].getScore() > 0}" th:id="'card'+${publication.eid}">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary" th:text="${publication.title}">Individual scores</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" th:id="'dataTable'+${publication.importId}" width="100%" cellspacing="0">
                                                <thead>
                                                <tr>
                                                    <th width="60%">Title</th>
                                                    <th>Type</th>
                                                    <th width="25%">Venue</th>
                                                    <th>Category</th>
                                                    <th>Quarter</th>
                                                    <th>Forum Score</th>
                                                    <th>Author Score</th>
                                                    <th>Extra Score</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Total</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td th:text="${scores[publication.title]['total'].getScore()}">Forum Score</td>
                                                    <td th:text="${scores[publication.title]['total'].getAuthorScore()}">Author Score</td>
                                                    <td></td>
                                                </tr>
                                                <tr th:each="e : ${scores[publication.title]}">
                                                    <div th:if="${!e.key.equals('total') && e.value.getAuthorScore() > 0.0}">
                                                        <td>
                                                            <a th:if="${citationMap[e.key] != null}" th:text="${e.key}" th:href="@{/user/publications/citations(eid=${citationMap[e.key].eid})}">Publication Title</a>
                                                            <a th:if="${citationMap[e.key] == null}" th:text="${e.key}">Publication Title</a>
                                                        </td>
                                                        <td>
                                                            <span th:if="${citationMap[e.key] != null && citationMap[e.key].subtypeDescription != null}" th:text="${citationMap[e.key].subtypeDescription}">Type</span>
                                                            <span th:if="${citationMap[e.key] != null && citationMap[e.key].subtypeDescription == null}" th:text="${citationMap[e.key].subtype}">Type</span>
                                                        </td>

                                                        <td>
            <!--                                                <a th:if="${citationMap[e.key] != null && citationMap[e.key].venue != null}" th:text="${citationMap[e.key].venue.publicationName}" th:href="@{/user/scopus/venues/edit/{id}(id=${citationMap[e.key].venue.id})}">Venue</a>-->
                                                            <a th:if="${citationMap[e.key] != null && forumMap[citationMap[e.key].forum] != null}" th:text="${forumMap[citationMap[e.key].forum].publicationName}" th:href="@{/user/rankings/{id}(id=${forumMap[citationMap[e.key].forum].id})}">Venue</a>
                                                        </td>
                                                        <td th:text="${e.value.getCategory()}">0</td>
                                                        <td th:text="${e.value.getQuarter()}">0</td>
                                                        <td th:text="${e.value.getScore()}">0</td>
                                                        <td th:text="${#numbers.formatDecimal(e.value.getAuthorScore(), 1, 2)}">0</td>
                                                        <td>
                                                            <ul th:if="${e.value.getExtra() != null}">
                                                                <li th:each="key, value : ${e.value.getExtra().entrySet()}" th:text="${key}">0</li>
                                                            </ul>
                                                        </td>
                                                    </div>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; ScholarDex 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/assets/app.js"></script>

<!-- Ensure this script runs after the DOM is fully loaded -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Add smooth scrolling to all links
        document.querySelectorAll('a[href^="#card"]').forEach(function (anchor) {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                var targetId = this.getAttribute('href').substring(1);
                var targetElement = document.getElementById(targetId);

                if (targetElement) {
                    targetElement.scrollIntoView({ behavior: 'smooth' });
                } else {
                    console.error('Element not found: #' + targetId);
                }
            });
        });
    });
</script>

<!-- Core plugin JavaScript-->

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>
<script src="/js/demo/chart-bar-demo.js"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        // Ensure Thymeleaf processes this part correctly
        var allLabels = /*[[${allQuarters}]]*/ [];
        var allValues = /*[[${allValues}]]*/ [];
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        // Pie Chart Example
        var ctx = document.getElementById("myPieChart");
        var myPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: allLabels,
                datasets: [{
                    data: allValues,
                    backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', '#f6c23e', '#e74a3b', '#858796', '#f8f9fc', '#e3e6f0', '#5a5c69', '#b7b9cc', '#f6b73f', '#fa7d09', '#28a745', '#17a2b8', '#ffc107', '#dc3545', '#343a40', '#6c757d', '#007bff', '#6f42c1'],
                    hoverBackgroundColor: ['#374db6', '#12996a', '#2799a3', '#af8d2a', '#a53a2b', '#5e606b', '#b0b3c0', '#a6aab8', '#3e404c', '#8989a0', '#b57b2b', '#b55c06', '#1e7535', '#12617a', '#b58a05', '#a02a35', '#24292c', '#4c535c', '#0056b3', '#4d3191'],
                    hoverBorderColor: "rgba(234, 236, 244, 1)",
                }],
            },
            options: {
                maintainAspectRatio: false,
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                },
                legend: {
                    display: false
                },
                cutoutPercentage: 80,
            },
        });
    });
</script>

</body>
</html>
