<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Publication</title>
    <th:block th:replace="fragments :: core-styles"></th:block>
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">

<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <div th:replace="fragments :: user-sidebar('publications')"></div>
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div th:replace="fragments :: navbar"></div>
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Edit Publication</h1>
                </div>

                <form th:action="@{/user/publications/save/{id}(id=${publication.id})}" th:object="${publication}" method="post">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" th:field="*{title}" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="creator">Creator</label>
                        <input type="text" class="form-control" id="creator" th:field="*{creator}" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="subTypeDescription">Subtype Description</label>
                        <select class="form-control" id="subTypeDescription" th:selected="*{subtypeDescription}" th:field="*{subtypeDescription}" required>
                            <option value="Article">Article</option>
                            <option value="Book">Book</option>
                            <option value="Book Chapter">Book Chapter</option>
                            <option value="Conference Paper">Conference Paper</option>
                            <option value="Data Paper">Data Paper</option>
                            <option value="Editorial">Editorial</option>
                            <option value="Erratum">Erratum</option>
                            <option value="Letter">Letter</option>
                            <option value="Note">Note</option>
                            <option value="Review">Review</option>
                            <option value="Short Survey">Short Survey</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="subtype">Subtype</label>
                        <input type="text" class="form-control" id="subtype" th:field="*{subtype}" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="coverDisplayDate">Cover Display Date</label>
                        <input type="text" class="form-control" id="coverDisplayDate" th:field="*{coverDisplayDate}">
                    </div>
                    <div class="form-group">
                        <label for="volume">Volume</label>
                        <input type="text" class="form-control" id="volume" th:field="*{volume}">
                    </div>
                    <div class="form-group">
                        <label for="issueIdentifier">Issue Identifier</label>
                        <input type="text" class="form-control" id="issueIdentifier" th:field="*{issueIdentifier}">
                    </div>
                    <div class="form-group">
                        <label for="venue">Venue</label>
                        <input type="text" class="form-control" id="venue" th:field="*{forum}">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>

        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; ScholarDex 2024</span>
                </div>
            </div>
        </footer>
    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa-solid fa-angle-up"></i>
</a>
<th:block th:replace="fragments :: core-scripts"></th:block>

</body>
</html>
