<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <th:block th:replace="fragments :: core-styles"></th:block>
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <div th:replace="fragments :: user-sidebar('scopus-venues')"></div>
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <div th:replace="fragments :: navbar"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Edit Forum</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" th:text="${forum.publicationName}">Update</h6>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/scopus/venues/edit/{id}(id=${forum.id})}" th:object="${forum}" method="post">
                            <div class="form-group">
                                <label for="title">Publication Name</label>
                                <input type="text" class="form-control" id="title" th:field="*{publicationName}" required>
                            </div>
                            <div class="form-group">
                                <label for="coverDate">Cover Date</label>
                                <input type="text" class="form-control" id="coverDate" th:field="*{coverDate}">
                            </div>
                            <div class="form-group">
                                <label for="coverDisplayDate">Cover Display Date</label>
                                <input type="text" class="form-control" id="coverDisplayDate" th:field="*{coverDisplayDate}">
                            </div>
                            <div class="form-group">
                                <label for="issn">ISSN</label>
                                <input type="text" class="form-control" id="issn" th:field="*{issn}">
                            </div>
                            <div class="form-group">
                                <label for="sourceId">Source ID</label>
                                <input type="text" class="form-control" id="sourceId" th:field="*{sourceId}">
                            </div>
                            <div class="form-group">
                                <label for="eIssn">eISSN</label>
                                <input type="text" class="form-control" id="eIssn" th:field="*{eIssn}">
                            </div>
                            <div class="form-group">
                                <label for="aggregationType">Aggregation Type</label>
                                <input type="text" class="form-control" id="aggregationType" th:field="*{aggregationType}">
                            </div>
                            <div class="form-group">
                                <label for="volume">Volume</label>
                                <input type="text" class="form-control" id="volume" th:field="*{volume}">
                            </div>
                            <div class="form-group">
                                <label for="issueIdentifier">Issue Identifier</label>
                                <input type="text" class="form-control" id="issueIdentifier" th:field="*{issueIdentifier}">
                            </div>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; ScholarDex 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</div>

<!-- Bootstrap core JavaScript-->
<th:block th:replace="fragments :: core-scripts"></th:block>

<!-- Page level plugins -->

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>

</body>
</html>
