html, body {
  height: 100%;
}

#wrapper,
#content-wrapper {
  min-height: 100vh;
}

#content-wrapper {
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.sticky-footer {
  margin-top: auto;
}

.navbar-page-title {
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .05rem;
  line-height: 4.375rem;
  padding-left: 1rem;
  color: #4e73df;
}
