<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${errorTitle} ?: 'Something went wrong'">Something went wrong</title>
    <th:block th:replace="~{fragments :: core-styles}"></th:block>
</head>
<body id="page-top" class="app-error-body">
<th:block th:replace="~{fragments :: error-page}"></th:block>
<th:block th:replace="~{fragments :: core-scripts}"></th:block>
</body>
</html>
