<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragment</title>
</head>
<body>
<th:block th:fragment="core-styles">
    <link href="/assets/app.css" rel="stylesheet" type="text/css">
    <link href="/css/footer-layout.css" rel="stylesheet" type="text/css">
    <meta name="_csrf" th:if="${_csrf != null}" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:if="${_csrf != null}" th:content="${_csrf.headerName}">
</th:block>

<th:block th:fragment="app-footer">
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span th:text="${@environment.getProperty('app.footer.message')}">Copyright \u00a9 ScholarDex 2024</span>
            </div>
        </div>
    </footer>
</th:block>

<th:block th:fragment="core-scripts">
    <script src="/assets/app.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
</th:block>

<!-- Navigation Bar Fragment -->
<div th:fragment="navbar">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa-solid fa-bars"></i>
        </button>

        <ul class="navbar-nav ml-auto">
            <!-- Dropdown for User Roles and Access -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Access Control</span>
                    <i class="fa-solid fa-users-cog"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item" th:if="${user.hasRole('PLATFORM_ADMIN')}" href="/admin">
                        <i class="fa-solid fa-user-shield fa-sm fa-fw mr-2 text-gray-400"></i>
                        Admin Panel
                    </a>
                    <a class="dropdown-item" th:if="${user.hasRole('SUPERVISOR')}" href="/supervisor">
                        <i class="fa-solid fa-user-tie fa-sm fa-fw mr-2 text-gray-400"></i>
                        Supervisor Panel
                    </a>
                    <a class="dropdown-item" href="/user">
                        <i class="fa-solid fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        User Panel
                    </a>
                </div>
            </li>


        </ul>
    </nav>
</div>

<!-- Admin Sidebar Fragment -->
<div th:fragment="admin-sidebar(activeSection)">
<!--    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">-->
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon">
                    <img src="/images/logo.webp" width="48" height="48" class="d-inline-block align-top" alt="" style="border-radius: 50%;overflow: hidden;">
            </div>
            <div class="sidebar-brand-text mx-3">ScholarDex</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <li class="nav-item" th:classappend="${activeSection} == 'users' ? 'active' : ''">
            <a class="nav-link" th:href="@{/admin/users}">
                <i class="fa-solid fa-fw fa-users"></i>
                <span>Users</span>
            </a>
        </li>
<!--        <li class="nav-item" th:classappend="${activeSection} == 'venues' ? 'active' : ''">-->
<!--            <a class="nav-link" th:href="@{/admin/venues}">-->
<!--                <i class="fa-solid fa-fw fa-chart-area"></i>-->
<!--                <span>Venues</span>-->
<!--            </a>-->
<!--        </li>-->
        <li class="nav-item" th:classappend="${activeSection} == 'researchers' ? 'active' : ''">
            <a class="nav-link" th:href="@{/admin/researchers}">
                <i class="fa-solid fa-fw fa-user-graduate"></i>
                <span>Researchers</span>
            </a>
        </li>

        <li class="nav-item" th:classappend="${activeSection} == 'institutions' ? 'active' : ''">
            <a class="nav-link" th:href="@{/admin/institutions}">
                <i class="fa-solid fa-fw fa-university"></i>
                <span>Institutions</span>
            </a>
        </li>

        <li class="nav-item" th:classappend="${activeSection} == 'groups' ? 'active' : ''">
            <a class="nav-link" th:href="@{/admin/groups}">
                <i class="fa-solid fa-fw fa-object-group"></i>
                <span>Groups</span>
            </a>
        </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Scholardex
    </div>

    <li class="nav-item" th:classappend="${activeSection == 'scholardex-forums' or activeSection == 'scopus-forums' or activeSection == 'scopus-venues'} ? 'active' : ''">
        <a class="nav-link" th:href="@{/admin/scholardex/forums}">
            <i class="fa-solid fa-fw fa-chart-area"></i>
            <span>Forums</span>
        </a>
    </li>
    <li class="nav-item" th:classappend="${activeSection == 'scholardex-authors' or activeSection == 'scopus-authors'} ? 'active' : ''">
        <a class="nav-link" th:href="@{/admin/scholardex/authors}">
            <i class="fa-solid fa-fw fa-user-graduate"></i>
            <span>Authors</span>
        </a>
    </li>
    <li class="nav-item" th:classappend="${activeSection == 'scholardex-affiliations' or activeSection == 'scopus-affiliations'} ? 'active' : ''">
        <a class="nav-link" th:href="@{/admin/scholardex/affiliations}">
            <i class="fa-solid fa-fw fa-building"></i>
            <span>Affiliations</span>
        </a>
    </li>
    <li class="nav-item" th:classappend="${activeSection == 'scholardex-publications' or activeSection == 'scopus-publications'} ? 'active' : ''">
        <a class="nav-link" th:href="@{/admin/scholardex/publications}">
            <i class="fa-solid fa-fw fa-file"></i>
            <span>Publications</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Rankings
    </div>
    <li class="nav-item" th:classappend="${activeSection} == 'rankings' ? 'active' : ''">
        <a class="nav-link" th:href="@{/admin/scholardex/forums(wos='indexed')}">
            <i class="fa-solid fa-fw fa-medal"></i>
            <span>WoS Journals</span>
        </a>
    </li>
    <li class="nav-item" th:classappend="${activeSection} == 'rankings-core' ? 'active' : ''">
        <a class="nav-link" th:href="@{/admin/rankings/core}">
            <i class="fa-solid fa-fw fa-atom"></i>
            <span>CORE</span>
        </a>
    </li>
    <li class="nav-item" th:classappend="${activeSection} == 'rankings-urap' ? 'active' : ''">
        <a class="nav-link" th:href="@{/admin/rankings/urap}">
            <i class="fa-solid fa-fw fa-university"></i>
            <span>URAP</span>
        </a>
    </li>
    <li class="nav-item" th:classappend="${activeSection} == 'rankings-events' ? 'active' : ''">
        <a class="nav-link" th:href="@{/admin/rankings/events}">
            <i class="fa-solid fa-fw fa-theater-masks"></i>
            <span>Events</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Reporting
    </div>
    <li class="nav-item" th:classappend="${activeSection} == 'activities' ? 'active' : ''">
        <a class="nav-link" th:href="@{/admin/activities}">
            <i class="fa-solid fa-fw fa-pen-fancy"></i>
            <span>Activities</span>
        </a>
    </li>

    <li class="nav-item" th:classappend="${activeSection} == 'indicators' ? 'active' : ''">
        <a class="nav-link" th:href="@{/admin/indicators}">
            <i class="fa-solid fa-fw fa-info"></i>
            <span>Indicators</span>
        </a>
    </li>

    <li class="nav-item" th:classappend="${activeSection} == 'domains' ? 'active' : ''">
        <a class="nav-link" th:href="@{/admin/domains}">
            <i class="fa-solid fa-fw fa-umbrella"></i>
            <span>Domains</span>
        </a>
    </li>

    <li class="nav-item" th:classappend="${activeSection} == 'individualReports' ? 'active' : ''">
        <a class="nav-link" th:href="@{/admin/individualReports}">
            <i class="fa-solid fa-fw fa-clipboard"></i>
            <span>Reports</span>
        </a>
    </li>

    <li class="nav-item" th:classappend="${activeSection} == 'groupReports' ? 'active' : ''">
        <a class="nav-link" th:href="@{/admin/groupReports}">
            <i class="fa-solid fa-fw fa-layer-group"></i>
            <span>Group Reports</span>
        </a>
    </li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Operations
    </div>
    <li class="nav-item" th:classappend="${activeSection} == 'initialization' ? 'active' : ''">
        <a class="nav-link" th:href="@{/admin/initialization}">
            <i class="fa-solid fa-fw fa-cogs"></i>
            <span>Initialization</span>
        </a>
    </li>
    <li class="nav-item" th:classappend="${activeSection} == 'conflicts' ? 'active' : ''">
        <a class="nav-link" th:href="@{/admin/conflicts}">
            <i class="fa-solid fa-fw fa-triangle-exclamation"></i>
            <span>Conflicts</span>
        </a>
    </li>
    <li class="nav-item" th:classappend="${activeSection} == 'sourceLinks' ? 'active' : ''">
        <a class="nav-link" th:href="@{/admin/source-links}">
            <i class="fa-solid fa-fw fa-link"></i>
            <span>Source Links</span>
        </a>
    </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">


<!--    </ul>-->
</div>

<div th:fragment="user-sidebar(activeSection)">
    <!--    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">-->
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <img src="/images/logo.webp" width="48" height="48" class="d-inline-block align-top" alt="" style="border-radius: 50%;overflow: hidden;">
        </div>
        <div class="sidebar-brand-text mx-3">ScholarDex</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <li class="nav-item" th:classappend="${activeSection} == 'profile' ? 'active' : ''">
        <a th:href="@{/user/profile}" class="nav-link">
            <i class="fa-solid fa-fw fa-user-graduate"></i>
            <span>Profile</span>
        </a>
    </li>
    <li class="nav-item" th:classappend="${activeSection} == 'publications' ? 'active' : ''">
        <a class="nav-link" th:href="@{/user/publications}">
            <i class="fa-solid fa-fw fa-chart-area"></i>
            <span>Publications</span>
        </a>
    </li>

    <li class="nav-item" th:classappend="${activeSection} == 'activityInstances' ? 'active' : ''">
        <a class="nav-link" th:href="@{/user/activityInstances}">
            <i class="fa-solid fa-fw fa-pen-fancy"></i>
            <span>Activities</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Rankings
    </div>
    <li class="nav-item" th:classappend="${activeSection == 'scholardex-forums' or activeSection == 'rankings'} ? 'active' : ''">
        <a class="nav-link" th:href="@{/scholardex/forums}">
            <i class="fa-solid fa-fw fa-medal"></i>
            <span>Forums</span>
        </a>
    </li>
    <li class="nav-item" th:classappend="${activeSection} == 'rankings-categories' ? 'active' : ''">
        <a class="nav-link" th:href="@{/rankings/categories}">
            <i class="fa-solid fa-fw fa-tags"></i>
            <span>WoS Categories</span>
        </a>
    </li>
    <li class="nav-item" th:classappend="${activeSection} == 'rankings-core' ? 'active' : ''">
        <a class="nav-link" th:href="@{/rankings/core}">
            <i class="fa-solid fa-fw fa-atom"></i>
            <span>CORE</span>
        </a>
    </li>
    <li class="nav-item" th:classappend="${activeSection} == 'rankings-urap' ? 'active' : ''">
        <a class="nav-link" th:href="@{/rankings/urap}">
            <i class="fa-solid fa-fw fa-university"></i>
            <span>URAP</span>
        </a>
    </li>
    <li class="nav-item" th:classappend="${activeSection} == 'rankings-events' ? 'active' : ''">
        <a class="nav-link" th:href="@{/rankings/events}">
            <i class="fa-solid fa-fw fa-theater-masks"></i>
            <span>Events</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Reporting
    </div>
    <li class="nav-item" th:classappend="${activeSection} == 'indicators' ? 'active' : ''">
        <a class="nav-link" th:href="@{/user/indicators}">
            <i class="fa-solid fa-fw fa-info"></i>
            <span>Indicators</span>
        </a>
    </li>
    <li class="nav-item" th:classappend="${activeSection} == 'individualReports' ? 'active' : ''">
        <a class="nav-link" th:href="@{/user/individualReports}">
            <i class="fa-solid fa-fw fa-clipboard-list"></i>
            <span>Reports</span>
        </a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">


    <!--    </ul>-->
</div>
</body>
</html>
